:root{
	--main-background: linear-gradient(#E57E00, #F3216E);
	--toggle-color: linear-gradient(90deg, #667EEA, #764BA2);

}

body {
	background: var(--main-background);

}

.pet-button {
	margin-top: -50px;
	margin-bottom: 50px;
	margin-right: 0px;

}

.pet-image {
	width: 150px;
	height: 150px;
}

.counter {
	 color: #8903DC;

}

.pet-toggle  {
  background: var(--toggle-color);
}

.btn-style::after {
	background: #E57E00;
}

.btn-reset::after {
	content: 'Сброс прогресса';
}

.btn-ultiplier::after {
	content: 'Множитель';
}

